.btn-primary {
    display: inline-block;
    background-color: #F4B566;
    padding: 12px 36px;
    border-radius: 25px;
    color: white;
}

.btn:hover {
  background-color: white;
  border: 1px solid;
}
